@import url('https://fonts.googleapis.com/css?family=Arimo|Wire+One&display=swap');
@import url("https://use.typekit.net/vga0tvr.css");
.degree_symbol:not(:empty)::after {
    content: "°"
}

.owm-legend-item{
    display: none;
}

#map {
	width: 200px;
    height: 200px;
    position: absolute;
    top: 46.8vw;
}

.background {  
    width: 100vw;
    height: 100vh;
    background-image: url(image/sky.jpg);
    background-size: 1920px 1440px;
    display: grid;
    grid-template-columns: .5fr 1.5fr 1fr 1fr 1fr;
}
.todaysweather {
    width: 16.7vw;
    background-color:rgb(5, 83, 144);
    font-family: aktiv-grotesk;
    color: white;
}

.now {
    background-image: url(image/gradient.png);
    color: white;
    background-size: 409px 1078px;
    max-width: 100%;
    max-height: 100%;

}

.datetime {
    margin-top: 5vw;
    margin-left: 1vw;
}

.date {
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 200;
    font-size: 1.5em;
}

.weather1 {
    color:rgb(5, 83, 144);
    margin-left: 5em;
    margin-right: 5em;
    margin-top: 7.5vw;
}

.pressure {
    margin-top: 6vw;
}

.dew_uv {
    margin-top: 2vw;
}

.windamount {
    width: 5vw;
    height: 10vw;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    margin-left: 1vw;
}

.wind {
    font-family: 'Wire One', sans-serif;
    font-size: 2em;
    color: white;
    margin-top: -2.5vw;
}

.sun {
    margin-top: 6vw;
    margin-left: 1vw;
}

h1 {
    padding-top: 1vw;
    padding-left: .3vw;
    font-size: 1.6em;
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 200;
    font-style: normal;
}

h2 {
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 2em;
}

h3 {
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 0vw;
}

h4 {
    font-family: aktiv-grotesk, sans-serif;
    margin: 0;
}

h5 {
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 200;
    font-size: 1.5em;
    margin-left: 1vw;;

}

h6 {
    font-family: aktiv-grotesk, sans-serif;
    margin: 0;
    font-size: 1em;
    margin-left: 1vw;

}

.itsnow {
    font-family: aktiv-grotesk, sans-serif;
    font-size: 1.5em;
    margin-left: 1vw;
}

.zip {
    margin-left: 1vw;
}

.current_temp {
    font-family: 'Wire One', sans-serif;
    font-size: 15em;
    color:rgb(5, 83, 144);
    margin-top: -3vw;
    
}

.clouds {
    color:rgb(5, 83, 144);
    float: left;
    font-family: aktiv-grotesk;
    font-weight: 600;
    font-size: 1.5em;
}

.rain_percent {
    color:rgb(5, 83, 144);
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 200;
    font-size: 2em;
    float: left;

}

h11 {
    font-family: 'Wire One', sans-serif;
    font-size: 1.5em;
    margin-right: 3vw;
}

h12 {
    font-family: 'Wire One', sans-serif;
    font-size: 11em;
}

h13 {
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 200;
    font-size: 2em;
}

.forecast {
    position: absolute;
    left: 50vw;
    top: 5.5vh;
    color: white;

}

.fhigh {
    color: white;
    margin-left: 4vw;
    margin-top: 20vw;
}

.flow {
    color: white;
    margin-left: 4vw;
    margin-top: 20vw;
}

.high {
    font-family: 'Wire One', sans-serif;
    font-size: 2em;
    color: white;

}

.low {
    font-family: 'Wire One', sans-serif;
    font-size: 2em;
    color:white;

}

.numbers {
    font-family: 'Wire One', sans-serif;
    font-size: 11em;
    color:white;
}